<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="code_for_good.linkage">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ProfileApp"
            android:parentActivityName=".LangAndRegisterActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="code_for_good.linkage.LangAndRegisterActivity" />
        </activity>

        <activity android:name=".UrgentCheck"
            android:parentActivityName=".ProfileApp">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="code_for_good.linkage.ProfileApp" />

        </activity>
        <activity
            android:name=".LanguagesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_languages"
            android:parentActivityName=".LangAndRegisterActivity"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="code_for_good.linkage.LangAndRegisterActivity" />
        </activity>
        <activity android:name=".IssueSelector" />
        <activity android:name=".Messenger" />
        <activity android:name=".LangAndRegisterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UsableLocation" />

        <service android:name=".GPSLocation" />
    </application>

</manifest>